@font-face {
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: local('Chivo'), local('Chivo-Regular'), url(http://themes.googleusercontent.com/static/fonts/chivo/v4/2vOGounxqJdQZmH7ou5HpA.woff) format('woff');
}
