@font-face {
  font-family: 'Quando';
  font-style: normal;
  font-weight: 400;
  src: local('Quando-Regular'), url(http://themes.googleusercontent.com/static/fonts/quando/v1/qmOt9XoCqrSpxIueQJOaSA.woff) format('woff');
}
